<table>
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%="Created #{@created} teams"%></td>
        <td><%="Already existing #{@existing} teams" %></td>
      </tr>
  </tbody>
</table>